.button{
    padding: 5px 5px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    margin-left: 5px;
}
#btn:hover,:focus{
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
    0 0 5px #008cff,
    0 0 10px #008cff,
    0 0 10px #008cff;
}
.inputForm{
    padding: 5px 5px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: white !important;
    background: transparent;
    box-shadow: transparent;
}
.inputForm:hover,:focus{
    text-shadow: none;
    box-shadow: none;
    background: transparent;
    box-shadow: transparent;
}