body{
  background-color: black;
}
.app {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 100px;
  box-shadow: 8px 8px 8px rgba(247, 246, 246, 0.468);
  border-radius: 8px;
}
.texth1{
  color: white;
}
.todo-list {
  margin-top: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
}

.todo.completed {
  background-color: grey;
  transition: 0.5 ease;
  border-radius: 8px;
}

.todo p {
  margin: 0;
}

.todo button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

}
.todo span {
  cursor: pointer;
  font-size: 18px;
  padding: 2px;
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 8px;
}
